

.login-Div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    padding-bottom: 100px;
    padding-top: 130px;
}

.login-Div .innerlogin-Div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 100px;
    box-shadow: 5px 5px 10px;
}

.login-Div .innerlogin-Div:hover{
    box-shadow: 10px 10px 50px;
}

.login-Div .innerlogin-Div .logHeader-Div h1, h2{
    flex: 1;
    /*font-size: 20px;*/
    color:rgb(145, 126, 126);
    /*padding-top: 100px;*/
    text-align: center;
}

.login-Div .innerlogin-Div .userPass-Div{
    flex: 1;
    flex-wrap: wrap;
    padding: 20px;
    align-self: center;
    border-radius:30px;
    /*border:3px solid violet;*/
    /*Background: green;*/
    font-size: 20px;
}

.login-Div .innerlogin-Div .userPass-Div label{
    color: rgb(145, 126, 126);
}

.login-Div .innerlogin-Div .userPass-Div input{
    width: 430px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: monospace;
    font-size: 20px;
}

.login-Div .innerlogin-Div .userPass-Div input:hover{
    font-size: 30px;
    padding: 5px;
}

.login-Div .innerlogin-Div .resetLog-Div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border:3px solid violet;*/
    border-radius: 20px;
    padding: 20px;
    gap: 50px;
    font-size: 20px;
}

.login-Div .innerlogin-Div .resetLog-Div div button{
    flex: 1;
    padding: 20px 70px;
    /*border:3px solid violet;*/
    Background:rgb(24, 92, 24);;
    border-radius: 20px;
    color: white;
    border: 0px;
    font-size: 20px;
    font-family: monospace;
}

.login-Div .innerlogin-Div .forgetPass-Div{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border:3px solid violet;*/
    background: green;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
    align-self: center;
    width: 400px;
}

.login-Div .innerlogin-Div .forgetPass-Div div a{
    flex: 1;
    flex-wrap: wrap;
    color: rgb(236, 228, 229);
    text-decoration: none;
}