
.bodyFooter-Div{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 600px;*/
    /*width: 100%;*/
    background: rgb(65, 60, 60);
    color: whitesmoke;
    gap: 0px;
}

.bodyFooter-Div .firstBodyFooter-Div{
    display:flex ;
    justify-content: space-around;
    align-items: center;
    /*background: rgb(216, 119, 119);*/
    width: 98%;
    padding: 5px;

}

.bodyFooter-Div .firstBodyFooter-Div .firstBodyFooterLogo-Div{
    flex: 1;
}

.bodyFooter-Div .firstBodyFooter-Div .firstBodyFooterLogo-Div a img{
    width: 120px;
    height: 100px;
    padding:0px;
    /*border-radius: 20px;*/
}

.bodyFooter-Div .firstBodyFooter-Div div p{
    padding: 10px;
}

.bodyFooter-Div .firstBodyFooter-Div div input{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid wheat;
    font-family: monospace;
    font-size: 20px;
    padding: 20px;
}

.bodyFooter-Div .firstBodyFooter-Div div button{
    flex: 1;
    padding: 10px 40px;
    /*border:3px solid violet;*/
    Background: rgb(224, 167, 23);
    border-radius: 20px;
    color: white;
    border: 0px;
    font-size: 15px;
    font-family: monospace;
}

.bodyFooter-Div .firstBodyFooter-Div div button img{
    width: 20px;
    height: 20px;
}



.bodyFooter-Div .secondBodyFooter-Div{
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    /*background: red;*/
    gap: 10px;
}

.bodyFooter-Div .secondBodyFooter-Div .secondBodyFooterList-Div{
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
}

.bodyFooter-Div .secondBodyFooter-Div .secondBodyFooterList-Div ul{
    list-style-type: none;
    /*font-size: 10px;*/
    padding: 1opx;
}

/*
.bodyFooter-Div .secondBodyFooter-Div .secondBodyFooterList-Div ul li{
    
}
*/

.bodyFooter-Div .secondBodyFooter-Div .secondBodyFooterList-Div ul li a{
    color: aliceblue;
}



    















.bodyLastFooter-Div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
    background: rgb(65, 60, 60);
    padding: 10px;
    gap: 0px;
}

.bodyLastFooter-Div .bodyLastFooterLink-Div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.bodyLastFooter-Div .bodyLastFooterLink-Div a img{
    flex: 1;
    flex-wrap: wrap;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.bodyLastFooter-Div .bodyLastFooterCopyR-Div a{
    flex: 1;
    color: whitesmoke;
    text-decoration: none;
}