

.login-Div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-bottom: 5%;
    margin-left: 35%;
    /*border:5px solid violet;*/
    border-radius: 70px;
    width: 500px;
    gap: 2px;
    background: rgb(255, 255, 255);
    font-family: monospace;
    box-shadow: 5px 5px 10px;
}

.login-Div:hover{
    padding: 5px;
    box-shadow: 5px 5px 15px;
}

.login-Div .logHeader-Div {
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-top: 100px;
}

.login-Div .userPass-Div{
    flex: 1;
    flex-wrap: wrap;
    padding: 20px;
    align-self: center;
    border-radius:30px;
    /*border:3px solid violet;*/
    /*Background: green;*/
    font-size: 20px;
}

.login-Div .userPass-Div input{
    width: 430px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: monospace;
    font-size: 20px;
}

.login-Div .userPass-Div input:hover{
    font-size: 30px;
    padding: 5px;
}

.login-Div .resetLog-Div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border:3px solid violet;*/
    border-radius: 20px;
    padding: 20px;
    gap: 50px;
    font-size: 20px;
}

.login-Div .resetLog-Div div button{
    flex: 1;
    padding: 20px 70px;
    /*border:3px solid violet;*/
    Background:rgb(24, 92, 24);;
    border-radius: 20px;
    color: white;
    border: 0px;
    font-size: 20px;
    font-family: monospace;
}

.login-Div .forgetPass-Div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*border:3px solid violet;*/
    background: green;
    border-radius: 50px;
    padding: 20px;
    font-size: 20px;
}

.login-Div .forgetPass-Div div a{
    flex: 1;
    flex-wrap: wrap;
    color: rgb(236, 228, 229);
    text-decoration: none;
}